# Preprocess the raw Zooniverse datasets

In this notebook we will load the raw Zooniverse dataset and convert them for easier handling later on.

In [1]:
%matplotlib inline
%load_ext autoreload
%autoreload 2

In [2]:
from pyclouds.imports import *
from pyclouds.zooniverse import *

## Import and understand the entire dataset

The dataset from 16 December contains the MPI and the LMD classification data, for the real dataset as well as for the practice dataset.

To handle the data we will use some functions from pyclouds.zooniverse

In [3]:
!ls ../zooniverse_raw/

README.md
sugar-flower-fish-or-gravel-classifications_18_11_02.csv
sugar-flower-fish-or-gravel-classifications_18_11_30.csv
sugar-flower-fish-or-gravel-classifications_18_12_16.csv
sugar-flower-fish-or-gravel-subjects_18_11_05.csv
sugar-flower-fish-or-gravel-subjects_19_01_14.csv

In [4]:
clas_fn = '../zooniverse_raw/sugar-flower-fish-or-gravel-classifications_18_12_16.csv'
subj_fn = '../zooniverse_raw/sugar-flower-fish-or-gravel-subjects_19_01_14.csv'

In [34]:
%%time
clas_prac = split_classification_df(clas_fn, 'Full dataset', 24.13, drop_nli=False, subj_df_or_fn=subj_fn)

CPU times: user 29.1 s, sys: 1.84 s, total: 30.9 s
Wall time: 30.9 s

In [33]:
clas_prac.head()

NameError: name 'clas_prac' is not defined

### The classification dataset

The classification dataset contains one row for one user's labels for one image.

In [24]:
clas = parse_classifications(clas_fn, json_columns=['metadata', 'annotations', 'subject_data'])

In [6]:
len(clas)

34616

In [7]:
clas.tail()

,classification_id,user_name,user_id,user_ip,workflow_id,workflow_name,workflow_version,created_at,gold_standard,expert,metadata,annotations,subject_data,subject_ids
34611,136647387,onnoq,1834851.0,af96bca21f888f9ee82c,8073,Full dataset,13.11,2018-12-14 16:09:42 UTC,NaN,NaN,"{'source': 'api', 'session': '67f9a58fcd31b031...","{'task': 'T0', 'task_label': 'Draw bounding bo...","{'27142706': {'retired': None, 'fn': '/project...",27142706
34612,136647412,onnoq,1834851.0,af96bca21f888f9ee82c,8073,Full dataset,13.11,2018-12-14 16:09:54 UTC,NaN,NaN,"{'source': 'api', 'session': '67f9a58fcd31b031...","{'task': 'T0', 'task_label': 'Draw bounding bo...","{'27144789': {'retired': None, 'fn': '/project...",27144789
34613,136647449,onnoq,1834851.0,af96bca21f888f9ee82c,8073,Full dataset,13.11,2018-12-14 16:10:08 UTC,NaN,NaN,"{'source': 'api', 'session': '67f9a58fcd31b031...","{'task': 'T0', 'task_label': 'Draw bounding bo...","{'27163862': {'retired': None, 'fn': '/project...",27163862
34614,136647469,onnoq,1834851.0,af96bca21f888f9ee82c,8073,Full dataset,13.11,2018-12-14 16:10:14 UTC,NaN,NaN,"{'source': 'api', 'session': '67f9a58fcd31b031...","{'task': 'T0', 'task_label': 'Draw bounding bo...","{'27143251': {'retired': {'id': 24671973, 'wor...",27143251
34615,136647512,onnoq,1834851.0,af96bca21f888f9ee82c,8073,Full dataset,13.11,2018-12-14 16:10:28 UTC,NaN,NaN,"{'source': 'api', 'session': '67f9a58fcd31b031...","{'task': 'T0', 'task_label': 'Draw bounding bo...","{'27147693': {'retired': None, 'fn': '/project...",27147693

In [8]:
clas.user_id.nunique(), clas.user_name.nunique(), clas.subject_ids.nunique()   
# Number of unique users and images = subjects

(72, 91, 9801)

User_id is only for logged in users, so we have around 20 users that were not logged in. Let's see how many labels correspond to those users.

In [9]:
len(clas[clas.user_name.apply(lambda u: 'not-logged-in' in u)])

444

So only, a small fraction of labels is from not-logged-in users. For ease of analysis, we should probably remove those.

In [10]:
clas.workflow_id.unique()

array([8072, 8073, 8104, 8109, 8414])

In [11]:
clas.workflow_name.unique()

array(['Practice', 'Full dataset', 'Tutorial Gold standard',
       'Tutorial Random', 'Validation'], dtype=object)

We really only care about the `Practice` and `Full dataset` workflows.

In [12]:
clas[clas.workflow_name == 'Practice'].workflow_version.unique()

array([19.13, 24.13])

In [13]:
clas[clas.workflow_name == 'Full dataset'].workflow_version.unique()

array([13.11])

Let's now also convert the `created_at` column to an actual datetime object that we can work with.

Here we can see the two spikes associated with the MPI and LMD labeling days. The LMD day seems to have a larger "tail".

### The subject dataset

In [25]:
subj = load_classifications(subj_fn)

In [26]:
len(subj)

10179

In [27]:
subj.tail()

,subject_id,project_id,workflow_id,subject_set_id,metadata,locations,classifications_count,retired_at,retirement_reason,created_at,updated_at
10174,27164038,7699,8073.0,60835,{'fn': '/project/meteo/work/S.Rasp/cloud-class...,"{""0"":""https://panoptes-uploads.zooniverse.org/...",4,2018-11-29 14:26:48 UTC,classification_count,2018-10-29 12:15:26 UTC,2018-10-29 12:15:26 UTC
10175,27164039,7699,8073.0,60835,{'fn': '/project/meteo/work/S.Rasp/cloud-class...,"{""0"":""https://panoptes-uploads.zooniverse.org/...",4,2018-11-30 13:26:41 UTC,classification_count,2018-10-29 12:15:27 UTC,2018-10-29 12:15:27 UTC
10176,27164040,7699,8073.0,60835,{'fn': '/project/meteo/work/S.Rasp/cloud-class...,"{""0"":""https://panoptes-uploads.zooniverse.org/...",4,2018-12-30 13:00:38 UTC,classification_count,2018-10-29 12:15:28 UTC,2018-10-29 12:15:28 UTC
10177,27164041,7699,8073.0,60835,{'fn': '/project/meteo/work/S.Rasp/cloud-class...,"{""0"":""https://panoptes-uploads.zooniverse.org/...",4,2018-12-01 22:35:27 UTC,classification_count,2018-10-29 12:15:31 UTC,2018-10-29 12:15:31 UTC
10178,27164042,7699,8073.0,60835,{'fn': '/project/meteo/work/S.Rasp/cloud-class...,"{""0"":""https://panoptes-uploads.zooniverse.org/...",3,NaN,NaN,2018-10-29 12:15:33 UTC,2018-10-29 12:15:33 UTC

In [28]:
subj.set_index('subject_id', inplace=True)

In [29]:
subj.head()

,project_id,workflow_id,subject_set_id,metadata,locations,classifications_count,retired_at,retirement_reason,created_at,updated_at
subject_id,,,,,,,,,,
26976345,7699,NaN,60713,{'fn': '/project/meteo/work/S.Rasp/cloud-class...,"{""0"":""https://panoptes-uploads.zooniverse.org/...",0,NaN,NaN,2018-10-24 16:42:28 UTC,2018-10-24 16:42:28 UTC
26976346,7699,NaN,60713,{'fn': '/project/meteo/work/S.Rasp/cloud-class...,"{""0"":""https://panoptes-uploads.zooniverse.org/...",0,NaN,NaN,2018-10-24 16:42:29 UTC,2018-10-24 16:42:29 UTC
26976347,7699,NaN,60713,{'fn': '/project/meteo/work/S.Rasp/cloud-class...,"{""0"":""https://panoptes-uploads.zooniverse.org/...",0,NaN,NaN,2018-10-24 16:42:31 UTC,2018-10-24 16:42:31 UTC
26976348,7699,NaN,60713,{'fn': '/project/meteo/work/S.Rasp/cloud-class...,"{""0"":""https://panoptes-uploads.zooniverse.org/...",0,NaN,NaN,2018-10-24 16:42:32 UTC,2018-10-24 16:42:32 UTC
26976349,7699,NaN,60713,{'fn': '/project/meteo/work/S.Rasp/cloud-class...,"{""0"":""https://panoptes-uploads.zooniverse.org/...",0,NaN,NaN,2018-10-24 16:42:33 UTC,2018-10-24 16:42:33 UTC

In [22]:
clas[clas.subject_ids == 26976410]

,classification_id,user_name,user_id,user_ip,workflow_id,workflow_name,workflow_version,created_at,gold_standard,expert,metadata,annotations,subject_data,subject_ids,datetime
13,128932300,raspstephan,1814911.0,ece34b7062ff27190425,8073,Full dataset,13.11,2018-10-28 10:00:31 UTC,NaN,NaN,"{'source': 'api', 'session': '72e7236d3736b33e...","{'task': 'T0', 'task_label': 'Draw bounding bo...","{'26976410': {'retired': None, 'fn': '/project...",26976410,2018-10-28 10:00:31

In [23]:
clas['subject_set_id'] = clas.subject_ids.apply(
    lambda i: subj.loc[i].subject_set_id if i in list(subj.index) else np.nan)

The first row is still from a now deleted dataset, so let's remove that!

In [60]:
clas.dropna(subset=['subject_set_id'], inplace=True)

In [61]:
#EXPORT
def add_subject_set_id_to_clas_df(clas_df, subj_df):
    s = subj_df.set_index('subject_id')
    # HARDCODED: Only using the actual datasets, not practice, etc.
    s = s[s.subject_set_id.apply(lambda s: s in subj_id2name.keys())]
    clas_df['subject_set_id'] = clas_df.subject_ids.apply(
        lambda i: s.loc[i].subject_set_id if i in list(s.index) else np.nan)
    clas_df.dropna(subset=['subject_set_id'], inplace=True)
    # Also add filename
    clas_df['fn'] = clas_df.subject_ids.apply(lambda i: s.loc[i].metadata['fn'][48:])
    return clas_df

In [62]:
subj = load_classifications(subj_fn)

In [37]:
%time clas = add_subject_set_id_to_clas_df(clas, subj)

CPU times: user 21.9 s, sys: 12 ms, total: 21.9 s
Wall time: 21.9 s

In [38]:
clas

,classification_id,user_name,user_id,user_ip,workflow_id,workflow_name,workflow_version,created_at,gold_standard,expert,metadata,annotations,subject_data,subject_ids,datetime,subject_set_id,fn
23,129485502,not-logged-in-80bdc4acf6d39d1ea32e,NaN,80bdc4acf6d39d1ea32e,8073,Full dataset,13.11,2018-11-01 08:15:14 UTC,NaN,NaN,"{'source': 'api', 'session': '3cf8bb39dc9ac314...","{'task': 'T0', 'task_label': 'Draw bounding bo...","{'27144341': {'retired': {'id': 24673754, 'wor...",27144341,2018-11-01 08:15:14,60815,Region2_DJF_Aqua/Aqua_CorrectedReflectance2010...
24,129485553,not-logged-in-80bdc4acf6d39d1ea32e,NaN,80bdc4acf6d39d1ea32e,8073,Full dataset,13.11,2018-11-01 08:16:38 UTC,NaN,NaN,"{'source': 'api', 'session': '3cf8bb39dc9ac314...","{'task': 'T0', 'task_label': 'Draw bounding bo...","{'27146358': {'retired': {'id': 24675851, 'wor...",27146358,2018-11-01 08:16:38,60817,Region3_DJF_Aqua/Aqua_CorrectedReflectance2010...
25,129485578,not-logged-in-80bdc4acf6d39d1ea32e,NaN,80bdc4acf6d39d1ea32e,8073,Full dataset,13.11,2018-11-01 08:16:53 UTC,NaN,NaN,"{'source': 'api', 'session': '3cf8bb39dc9ac314...","{'task': 'T0', 'task_label': 'Draw bounding bo...","{'27161730': {'retired': {'id': 24706423, 'wor...",27161730,2018-11-01 08:16:53,60819,Region3_SON_Aqua/Aqua_CorrectedReflectance2017...
26,129485596,not-logged-in-80bdc4acf6d39d1ea32e,NaN,80bdc4acf6d39d1ea32e,8073,Full dataset,13.11,2018-11-01 08:17:11 UTC,NaN,NaN,"{'source': 'api', 'session': '3cf8bb39dc9ac314...","{'task': 'T0', 'task_label': 'Draw bounding bo...","{'27139667': {'retired': {'id': 24666988, 'wor...",27139667,2018-11-01 08:17:11,60811,Region1_DJF_Aqua/Aqua_CorrectedReflectance2007...
27,129485619,not-logged-in-80bdc4acf6d39d1ea32e,NaN,80bdc4acf6d39d1ea32e,8073,Full dataset,13.11,2018-11-01 08:17:32 UTC,NaN,NaN,"{'source': 'api', 'session': '3cf8bb39dc9ac314...","{'task': 'T0', 'task_label': 'Draw bounding bo...","{'27145958': {'retired': None, 'fn': '/project...",27145958,2018-11-01 08:17:32,60816,Region2_DJF_Terra/Terra_CorrectedReflectance20...
28,129486316,raspstephan,1814911.0,80bdc4acf6d39d1ea32e,8073,Full dataset,13.11,2018-11-01 08:28:49 UTC,NaN,NaN,"{'source': 'api', 'session': 'f83f28c58ce8e6e9...","{'task': 'T0', 'task_label': 'Draw bounding bo...","{'27142057': {'retired': None, 'fn': '/project...",27142057,2018-11-01 08:28:49,60813,Region1_MAM_Aqua/Aqua_CorrectedReflectance2007...
29,129486328,raspstephan,1814911.0,80bdc4acf6d39d1ea32e,8073,Full dataset,13.11,2018-11-01 08:29:02 UTC,NaN,NaN,"{'source': 'api', 'session': 'f83f28c58ce8e6e9...","{'task': 'T0', 'task_label': 'Draw bounding bo...","{'27146798': {'retired': {'id': 24676302, 'wor...",27146798,2018-11-01 08:29:02,60817,Region3_DJF_Aqua/Aqua_CorrectedReflectance2015...
30,129486340,raspstephan,1814911.0,80bdc4acf6d39d1ea32e,8073,Full dataset,13.11,2018-11-01 08:29:18 UTC,NaN,NaN,"{'source': 'api', 'session': 'f83f28c58ce8e6e9...","{'task': 'T0', 'task_label': 'Draw bounding bo...","{'27163527': {'retired': None, 'fn': '/project...",27163527,2018-11-01 08:29:18,60835,Region3_SON_Terra/Terra_CorrectedReflectance20...
31,129486353,raspstephan,1814911.0,80bdc4acf6d39d1ea32e,8073,Full dataset,13.11,2018-11-01 08:29:32 UTC,NaN,NaN,"{'source': 'api', 'session': 'f83f28c58ce8e6e9...","{'task': 'T0', 'task_label': 'Draw bounding bo...","{'27140064': {'retired': {'id': 24667644, 'wor...",27140064,2018-11-01 08:29:32,60811,Region1_DJF_Aqua/Aqua_CorrectedReflectance2011...
32,129487308,raspstephan,1814911.0,80bdc4acf6d39d1ea32e,8073,Full dataset,13.11,2018-11-01 08:40:30 UTC,NaN,NaN,"{'source': 'api', 'session': '7c9ad7c01df71e1f...","{'task': 'T0', 'task_label': 'Draw bounding bo...","{'27140103': {'retired': {'id': 24667709, 'wor...",27140103,2018-11-01 08:40:30,60811,Region1_DJF_Aqua/Aqua_CorrectedReflectance2011...
33,129487381,raspstephan,1814911.0,80bdc4acf6d39d1ea32e,8073,Full dataset,13.11,2018-11-01 08:41:03 UTC,NaN,NaN,"{'source': 'api', 'session': '7c9ad7c01df71e1f...","{'task': 'T0', 'task_label': 'Draw bounding bo...","{'27146216': {'retired': {'id': 24675705, 'wor...",27146216,2018-11-01 08:41:03,60817,Region3_DJF_Aqua/Aqua_CorrectedReflectance2008...
34,129487451,raspstephan,1814911.0,80bdc4acf6d39d1ea32e,8073,Full dataset,13.11,2018-11-01 08:41:42 UTC,NaN,NaN,"{'source': 'api', 'session': '7c9ad7c01df71e1f...","{'task': 'T0', 'task_label': 'Draw bounding bo...","{'27142098': {'retired': {'id': 24670057, 'wor...",27142098,2018-11-01 08:41:42,60813,Region1_MAM_Aqua/Aqua_CorrectedReflectance2007...
35,129487467,raspstephan,1814911.0,80bdc4acf6d39d1ea32e,8073,Full dataset,13.11,2018-11-01 08:41:49 UTC,NaN,NaN,"{'source': 'api', 'session': '7c9ad7c01df71e1f...","{'task': 'T0', 'task_label': 'Draw bounding bo...","{'27143526': {'retired': None, 'fn': '/project...",27143526,2018-11-01 08:41:49,60814,Region1_MAM_Terra/Terra_CorrectedReflectance20...
36,129487493,raspstephan,1814911.0,80bdc4acf6d39d1ea32e,8073,Full dataset,13.11,2018-11-01 08:42:06 UTC,NaN,NaN,"{'source': 'api', 'session': '7c9ad7c01df71e1f...","{'task': 'T0', 'task_label': 'Draw bounding bo...","{'27139756': {'retired': None, 'fn': '/project...",27139756,2018-11-01 08:42:06,60811,Region1_DJF_Aqua/Aqua_CorrectedReflectance2008...
37,129487544,raspstephan,1814911.0,80bdc4acf6d39d1ea32e,8073,Full dataset,13.11,2018-11-01 08:42:34 UTC,NaN,NaN,"{'source': 'api', 'session': '7c9ad7c01df71e1f...","{'task': 'T0', 'task_label': 'Draw bounding bo...","{'27143417': {'retired': None, 'fn': '/project...",27143417,2018-11-01 08:42:34,60814,Region1_MAM_Terra/Terra_CorrectedReflectance20...
38,129487558,raspstephan,1814911.0,80bdc4acf6d39d1ea32e,8073,Full dataset,13.11,2018-11-01 08:42:45 UTC,NaN,NaN,"{'source': 'api', 'session': '7c9ad7c01df71e1f...","{'task': 'T0', 'task_label': 'Draw bounding bo...","{'27147278': {'retired': {'id': 24676794, 'wor...",27147278,2018-11-01 08:42:45,60818,Region3_DJF_Terra/Terra_CorrectedReflectance20...
39,129487570,raspstephan,1814911.0,80bdc4acf6d39d1ea32e,8073,Full dataset,13.11,2018-11-01 08:42:50 UTC,NaN,NaN,"{'source': 'api', 'session': '7c9ad7c01df71e1f...","{'task': 'T0', 'task_label': 'Draw bounding bo...","{'27142647': {'retired': {'id': 24670659, 'wor...",27142647,2018-11-01 08:42:50,60813,Region1_MAM_Aqua/Aqua_CorrectedReflectance2013...
40,129487593,raspstephan,1814911.0,80bdc4acf6d39d1ea32e,8073,Full dataset,13.11,2018-11-01 08:43:04 UTC,NaN,NaN,"{'source': 'api', 'session': '7c9ad7c01df71e1f...","{'task': 'T0', 'task_label': 'Draw bounding bo...","{'27163357': {'retired': None, 'fn': '/project...",27163357,2018-11-01 08:43:04,60835,Region3_SON_Terra/Terra_CorrectedReflectance20...
41,129487610,raspstephan,1814911.0,80bdc4acf6d39d1ea32e,8073,Full dataset,13.11,2018-11-01 08:43:19 UTC,NaN,NaN,"{'source': 'api', 'session': '7c9ad7c01df71e1f...","{'task': 'T0', 'task_label': 'Draw bounding bo...","{'27140538': {'retired': {'id': 24668425, 'wor...",27140538,2018-11-01 08:43:19,60811,Region1_DJF_Aqua/Aqua_CorrectedReflectance2015...
42,129488207,raspstephan,1814911.0,80bdc4acf6d39d1ea32e,8073,Full dataset,13.11,2018-11-01 08:52:46 UTC,NaN,NaN,"{'source': 'api', 'session': '1b3dc0ef5fdf1c9c...","{'task': 'T0', 'task_label': 'Draw bounding bo...","{'27163717': {'retired': {'id': 24708665, 'wor...",27163717,2018-11-01 08:52:46,60835,Region3_SON_Terra/Terra_CorrectedReflectance20...
43,129488223,raspstephan,1814911.0,80bdc4acf6d39d1ea32e,8073,Full dataset,13.11,2018-11-01 08:53:20 UTC,NaN,NaN,"{'source': 'api', 'session': '1b3dc0ef5fdf1c9c...","{'task': 'T0', 'task_label': 'Draw bounding bo...","{'27142682': {'retired': {'id': 24670706, 'wor...",27142682,2018-11-01 08:53:20,60813,Region1_MAM_Aqua/Aqua_CorrectedReflectance2014...
44,129516659,lpaccini,1830056.0,dd3ab09f3c57140838ac,8072,Practice,24.13,2018-11-01 14:04:58 UTC,NaN,NaN,"{'source': 'api', 'session': '0cf6a309fe38cb17...","{'task': 'T0', 'task_label': 'Draw bounding bo...","{'27139777': {'retired': None, 'fn': '/project...",27139777,2018-11-01 14:04:58,60811,Region1_DJF_Aqua/Aqua_CorrectedReflectance2008...
45,129516820,lpaccini,1830056.0,dd3ab09f3c57140838ac,8072,Practice,24.13,2018-11-01 14:05:59 UTC,NaN,NaN,"{'source': 'api', 'session': '0cf6a309fe38cb17...","{'task': 'T0', 'task_label': 'Draw bounding bo...","{'27140534': {'retired': None, 'fn': '/project...",27140534,2018-11-01 14:05:59,60811,Region1_DJF_Aqua/Aqua_CorrectedReflectance2015...
46,129517098,lpaccini,1830056.0,dd3ab09f3c57140838ac,8072,Practice,24.13,2018-11-01 14:07:45 UTC,NaN,NaN,"{'source': 'api', 'session': '0cf6a309fe38cb17...","{'task': 'T0', 'task_label': 'Draw bounding bo...","{'27140554': {'retired': None, 'fn': '/project...",27140554,2018-11-01 14:07:45,60811,Region1_DJF_Aqua/Aqua_CorrectedReflectance2015...
47,129517857,lpaccini,1830056.0,dd3ab09f3c57140838ac,8072,Practice,24.13,2018-11-01 14:15:08 UTC,NaN,NaN,"{'source': 'api', 'session': '0cf6a309fe38cb17...","{'task': 'T0', 'task_label': 'Draw bounding bo...","{'27140608': {'retired': None, 'fn': '/project...",27140608,2018-11-01 14:15:08,60811,Region1_DJF_Aqua/Aqua_CorrectedReflectance2015...
71,129695770,jkiliani,1837012.0,3dea9688bc86789f4b86,8072,Practice,24.13,2018-11-02 08:51:55 UTC,NaN,NaN,"{'source': 'api', 'session': 'd9c5066f541ee6ee...","{'task': 'T0', 'task_label': 'Draw bounding bo...","{'27139862': {'retired': None, 'fn': '/project...",27139862,2018-11-02 08:51:55,60811,Region1_DJF_Aqua/Aqua_CorrectedReflectance2009...
73,129695835,ReinhardB,1837432.0,e6d42ee72c5f403604b4,8072,Practice,24.13,2018-11-02 08:52:42 UTC,NaN,NaN,"{'source': 'api', 'session': 'ec7eeb72a922bebf...","{'task': 'T0', 'task_label': 'Draw bounding bo...","{'27140428': {'retired': None, 'fn': '/project...",27140428,2018-11-02 08:52:42,60811,Region1_DJF_Aqua/Aqua_CorrectedReflectance2014...
74,129695837,jkiliani,1837012.0,3dea9688bc86789f4b86,8072,Practice,24.13,2018-11-02 08:52:44 UTC,NaN,NaN,"{'source': 'api', 'session': 'd9c5066f541ee6ee...","{'task': 'T0', 'task_label': 'Draw bounding bo...","{'27139658': {'retired': None, 'fn': '/project...",27139658,2018-11-02 08:52:44,60811,Region1_DJF_Aqua/Aqua_CorrectedReflectance2007...
76,129695966,jkiliani,1837012.0,3dea9688bc86789f4b86,8072,Practice,24.13,2018-11-02 08:53:57 UTC,NaN,NaN,"{'source': 'api', 'session': 'd9c5066f541ee6ee...","{'task': 'T0', 'task_label': 'Draw bounding bo...","{'27140338': {'retired': None, 'fn': '/project...",27140338,2018-11-02 08:53:57,60811,Region1_DJF_Aqua/Aqua_CorrectedReflectance2013...
78,129696038,jkiliani,1837012.0,3dea9688bc86789f4b86,8072,Practice,24.13,2018-11-02 08:54:46 UTC,NaN,NaN,"{'source': 'api', 'session': 'd9c5066f541ee6ee...","{'task': 'T0', 'task_label': 'Draw bounding bo...","{'27140007': {'retired': None, 'fn': '/project...",27140007,2018-11-02 08:54:46,60811,Region1_DJF_Aqua/Aqua_CorrectedReflectance2010...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34586,136628940,onnoq,1834851.0,af96bca21f888f9ee82c,8073,Full dataset,13.11,2018-12-14 13:42:23 UTC,NaN,NaN,"{'source': 'api', 'session': '67f9a58fcd31b031...","{'task': 'T0', 'task_label': 'Draw bounding bo...","{'27140231': {'retired': {'id': 24667920, 'wor...",27140231,2018-12-14 13:42:23,60811,Region1_DJF_Aqua/Aqua_CorrectedReflectance2012...
34587,136628957,onnoq,1834851.0,af96bca21f888f9ee82c,8073,Full dataset,13.11,2018-12-14 13:42:33 UTC,NaN,NaN,"{'source': 'api', 'session': '67f9a58fcd31b031...","{'task': 'T0', 'task_label': 'Draw bounding bo...","{'27142258': {'retired': None, 'fn': '/project...",27142258,2018-12-14 13:42:33,60813,Region1_MAM_Aqua/Aqua_CorrectedReflectance2009...
34588,136628976,onnoq,1834851.0,af96bca21f888f9ee82c,8073,Full dataset,13.11,2018-12-14 13:42:43 UTC,NaN,NaN,"{'source': 'api', 'session': '67f9a58fcd31b031...","{'task': 'T0', 'task_label': 'Draw bounding bo...","{'27143660': {'retired': None, 'fn': '/project...",27143660,2018-12-14 13:42:43,60814,Region1_MAM_Terra/Terra_CorrectedReflectance20...
34589,136628986,onnoq,1834851.0,af96bca21f888f9ee82c,8073,Full dataset,13.11,2018-12-14 13:42:50 UTC,NaN,NaN,"{'source': 'api', 'session': '67f9a58fcd31b031...","{'task': 'T0', 'task_label': 'Draw bounding bo...","{'27145938': {'retired': None, 'fn': '/project...",27145938,2018-12-14 13:42:50,60816,Region2_DJF_Terra/Terra_CorrectedReflectance20...
34590,136629001,onnoq,1834851.0,af96bca21f888f9ee82c,8073,Full dataset,13.11,2018-12-14 13:43:05 UTC,NaN,NaN,"{'source': 'api', 'session': '67f9a58fcd31b031...","{'task': 'T0', 'task_label': 'Draw bounding bo...","{'27147946': {'retired': {'id': 24677469, 'wor...",27147946,2018-12-14 13:43:05,60818,Region3_DJF_Terra/Terra_CorrectedReflectance20...
34591,136629015,onnoq,1834851.0,af96bca21f888f9ee82c,8073,Full dataset,13.11,2018-12-14 13:43:13 UTC,NaN,NaN,"{'source': 'api', 'session': '67f9a58fcd31b031...","{'task': 'T0', 'task_label': 'Draw bounding bo...","{'27142891': {'retired': {'id': 24670935, 'wor...",27142891,2018-12-14 13:43:13,60813,Region1_MAM_Aqua/Aqua_CorrectedReflectance2016...
34592,136629025,onnoq,1834851.0,af96bca21f888f9ee82c,8073,Full dataset,13.11,2018-12-14 13:43:21 UTC,NaN,NaN,"{'source': 'api', 'session': '67f9a58fcd31b031...","{'task': 'T0', 'task_label': 'Draw bounding bo...","{'27147441': {'retired': {'id': 24676961, 'wor...",27147441,2018-12-14 13:43:21,60818,Region3_DJF_Terra/Terra_CorrectedReflectance20...
34593,136629043,onnoq,1834851.0,af96bca21f888f9ee82c,8073,Full dataset,13.11,2018-12-14 13:43:38 UTC,NaN,NaN,"{'source': 'api', 'session': '67f9a58fcd31b031...","{'task': 'T0', 'task_label': 'Draw bounding bo...","{'27146625': {'retired': None, 'fn': '/project...",27146625,2018-12-14 13:43:38,60817,Region3_DJF_Aqua/Aqua_CorrectedReflectance2013...
34594,136629053,onnoq,1834851.0,af96bca21f888f9ee82c,8073,Full dataset,13.11,2018-12-14 13:43:46 UTC,NaN,NaN,"{'source': 'api', 'session': '67f9a58fcd31b031...","{'task': 'T0', 'task_label': 'Draw bounding bo...","{'27142057': {'retired': None, 'fn': '/project...",27142057,2018-12-14 13:43:46,60813,Region1_MAM_Aqua/Aqua_CorrectedReflectance2007...
34595,136629067,onnoq,1834851.0,af96bca21f888f9ee82c,8073,Full dataset,13.11,2018-12-14 13:43:56 UTC,NaN,NaN,"{'source': 'api', 'session': '67f9a58fcd31b031...","{'task': 'T0', 'task_label': 'Draw bounding bo...","{'27145314': {'retired': None, 'fn': '/project...",27145314,2018-12-14 13:43:56,60816,Region2_DJF_Terra/Terra_CorrectedReflectance20...
34596,136629073,onnoq,1834851.0,af96bca21f888f9ee82c,8073,Full dataset,13.11,2018-12-14 13:43:58 UTC,NaN,NaN,"{'source': 'api', 'session': '67f9a58fcd31b031...","{'task': 'T0', 'task_label': 'Draw bounding bo...","{'27145886': {'retired': None, 'fn': '/project...",27145886,2018-12-14 13:43:58,60816,Region2_DJF_Terra/Terra_CorrectedReflectance20...
34597,136629087,onnoq,1834851.0,af96bca21f888f9ee82c,8073,Full dataset,13.11,2018-12-14 13:44:07 UTC,NaN,NaN,"{'source': 'api', 'session': '67f9a58fcd31b031...","{'task': 'T0', 'task_label': 'Draw bounding bo...","{'27146872': {'retired': {'id': 24676386, 'wor...",27146872,2018-12-14 13:44:07,60817,Region3_DJF_Aqua/Aqua_CorrectedReflectance2016...
34598,136629130,onnoq,1834851.0,af96bca21f888f9ee82c,8073,Full dataset,13.11,2018-12-14 13:44:26 UTC,NaN,NaN,"{'source': 'api', 'session': '67f9a58fcd31b031...","{'task': 'T0', 'task_label': 'Draw bounding bo...","{'27160860': {'retired': None, 'fn': '/project...",27160860,2018-12-14 13:44:26,60819,Region3_SON_Aqua/Aqua_CorrectedReflectance2007...
34599,136629163,onnoq,1834851.0,af96bca21f888f9ee82c,8073,Full dataset,13.11,2018-12-14 13:44:38 UTC,NaN,NaN,"{'source': 'api', 'session': '67f9a58fcd31b031...","{'task': 'T0', 'task_label': 'Draw bounding bo...","{'27140371': {'retired': {'id': 24668155, 'wor...",27140371,2018-12-14 13:44:38,60811,Region1_DJF_Aqua/Aqua_CorrectedReflectance2013...
34600,136629197,onnoq,1834851.0,af96bca21f888f9ee82c,8073,Full dataset,13.11,2018-12-14 13:44:54 UTC,NaN,NaN,"{'source': 'api', 'session': '67f9a58fcd31b031...","{'task': 'T0', 'task_label': 'Draw bounding bo...","{'27141013': {'retired': None, 'fn': '/project...",27141013,2018-12-14 13:44:54,60812,Region1_DJF_Terra/Terra_CorrectedReflectance20...
34601,136629218,onnoq,1834851.0,af96bca21f888f9ee82c,8073,Full dataset,13.11,2018-12-14 13:45:03 UTC,NaN,NaN,"{'source': 'api', 'session': '67f9a58fcd31b031...","{'task': 'T0', 'task_label': 'Draw bounding bo...","{'27145391': {'retired': {'id': 24674851, 'wor...",27145391,2018-12-14 13:45:03,60816,Region2_DJF_Terra/Terra_CorrectedReflectance20...
34602,136629263,onnoq,1834851.0,af96bca21f888f9ee82c,8073,Full dataset,13.11,2018-12-14 13:45:23 UTC,NaN,NaN,"{'source': 'api', 'session': '67f9a58fcd31b031...","{'task': 'T0', 'task_label': 'Draw bounding bo...","{'27142893': {'retired': None, 'fn': '/project...",27142893,2018-12-14 13:45:23,60813,Region1_MAM_Aqua/Aqua_CorrectedReflectance2016...
34603,136647185,onnoq,1834851.0,af96bca21f888f9ee82c,8073,Full dataset,13.11,2018-12-14 16:08:12 UTC,NaN,NaN,"{'source': 'api', 'session': '67f9a58fcd31b031...","{'task': 'T0', 'task_label': 'Draw bounding bo...","{'27141655': {'retired': {'id': 24669693, 'wor...",27141655,2018-12-14 16:08:12,60812,Region1_DJF_Terra/Terra_CorrectedReflectance20...
34604,136647204,onnoq,1834851.0,af96bca21f888f9ee82c,8073,Full dataset,13.11,2018-12-14 16:08:21 UTC,NaN,NaN,"{'source': 'api', 'session': '67f9a58fcd31b031...","{'task': 'T0', 'task_label': 'Draw bounding bo...","{'27147114': {'retired': None, 'fn': '/project...",27147114,2018-12-14 16:08:21,60818,Region3_DJF_Terra/Terra_CorrectedReflectance20...
34605,136647241,onnoq,1834851.0,af96bca21f888f9ee82c,8073,Full dataset,13.11,2018-12-14 16:08:37 UTC,NaN,NaN,"{'source': 'api', 'session': '67f9a58fcd31b031...","{'task': 'T0', 'task_label': 'Draw bounding bo...","{'27146344': {'retired': None, 'fn': '/project...",27146344,2018-12-14 16:08:37,60817,Region3_DJF_Aqua/Aqua_CorrectedReflectance2010...
34606,136647268,onnoq,1834851.0,af96bca21f888f9ee82c,8073,Full dataset,13.11,2018-12-14 16:08:48 UTC,NaN,NaN,"{'source': 'api', 'session': '67f9a58fcd31b031...","{'task': 'T0', 'task_label': 'Draw bounding bo...","{'27145060': {'retired': {'id': 24674498, 'wor...",27145060,2018-12-14 16:08:48,60816,Region2_DJF_Terra/Terra_CorrectedReflectance20...
34607,136647287,onnoq,1834851.0,af96bca21f888f9ee82c,8073,Full dataset,13.11,2018-12-14 16:08:56 UTC,NaN,NaN,"{'source': 'api', 'session': '67f9a58fcd31b031...","{'task': 'T0', 'task_label': 'Draw bounding bo...","{'27140615': {'retired': {'id': 24668551, 'wor...",27140615,2018-12-14 16:08:56,60811,Region1_DJF_Aqua/Aqua_CorrectedReflectance2016...
34608,136647301,onnoq,1834851.0,af96bca21f888f9ee82c,8073,Full dataset,13.11,2018-12-14 16:09:07 UTC,NaN,NaN,"{'source': 'api', 'session': '67f9a58fcd31b031...","{'task': 'T0', 'task_label': 'Draw bounding bo...","{'27142628': {'retired': None, 'fn': '/project...",27142628,2018-12-14 16:09:07,60813,Region1_MAM_Aqua/Aqua_CorrectedReflectance2013...
34609,136647341,onnoq,1834851.0,af96bca21f888f9ee82c,8073,Full dataset,13.11,2018-12-14 16:09:22 UTC,NaN,NaN,"{'source': 'api', 'session': '67f9a58fcd31b031...","{'task': 'T0', 'task_label': 'Draw bounding bo...","{'27163760': {'retired': None, 'fn': '/project...",27163760,2018-12-14 16:09:22,60835,Region3_SON_Terra/Terra_CorrectedReflectance20...
34610,136647367,onnoq,1834851.0,af96bca21f888f9ee82c,8073,Full dataset,13.11,2018-12-14 16:09:34 UTC,NaN,NaN,"{'source': 'api', 'session': '67f9a58fcd31b031...","{'task': 'T0', 'task_label': 'Draw bounding bo...","{'27160848': {'retired': None, 'fn': '/project...",27160848,2018-12-14 16:09:34,60819,Region3_SON_Aqua/Aqua_CorrectedReflectance2007...
34611,136647387,onnoq,1834851.0,af96bca21f888f9ee82c,8073,Full dataset,13.11,2018-12-14 16:09:42 UTC,NaN,NaN,"{'source': 'api', 'session': '67f9a58fcd31b031...","{'task': 'T0', 'task_label': 'Draw bounding bo...","{'27142706': {'retired': None, 'fn': '/project...",27142706,2018-12-14 16:09:42,60813,Region1_MAM_Aqua/Aqua_CorrectedReflectance2014...

## Splitting the dataset

To work with the dataset, we would like to have easy ways of splitting the data and removing outliers.

First up, we can throw out all not-logged-in users.

Then, we want to split the practice and full dataset workflows, and throw out the 19.13 workflow for the practice dataset which was not live but just for testing. 

Finally, we can split the MPI and LMD datasets by time.

At the end we can also write a function that does all this in one step for use in other notebooks.

In [63]:
clas_drop = clas[clas.user_name.apply(lambda u: 'not-logged-in' not in u)]

In [64]:
len(clas_drop)

34160

In [65]:
clas_full = clas_drop[clas_drop.workflow_name == 'Full dataset']
clas_prac = clas_drop[(clas_drop.workflow_name == 'Practice') & (clas_drop.workflow_version == 24.13)]

In [65]:
len(clas_full), len(clas_prac)

(30311, 3015)

In [71]:
split_date = np.datetime64('2018-11-28')

In [73]:
clas_full_MPI = clas_full[clas_full.datetime.dt.date < split_date]
clas_full_LMD = clas_full[clas_full.datetime.dt.date > split_date]

In [74]:
len(clas_full_MPI), len(clas_full_LMD)

(19898, 10410)

In [210]:
#EXPORT
def split_classification_df(raw_df, workflow_name=None, workflow_version=None, date_range=None, drop_nli=False):
    """
    Takes as input the raw classification dataframe that comes out of parse_classifications().
    Adds a datetime column. If not None, returns only rows with workflow_name, workflow_version.
    Optionally, returns only labels in a certain date range. Dates must be in string format 'yyyy-mm-dd'.
    Optionally, drops all labels of users that were not-logged-in (nli).
    """
    df = raw_df.copy()
    df['datetime'] = pd.to_datetime(df['created_at'])
    if workflow_name is not None:
        df = df[df.workflow_name == workflow_name]
    if workflow_version is not None:
        df = df[df.workflow_version == workflow_version]
    if date_range is not None:
        df = df[(df.datetime.dt.date > np.datetime64(date_range[0])) & 
                (df.datetime.dt.date < np.datetime64(date_range[1]))]
    if drop_nli:
        df = df[df.user_name.apply(lambda u: 'not-logged-in' not in u)]
    return df

In [94]:
%%time
clas_full_LMD_test = split_classification_df(
    clas, 
    workflow_name='Full dataset', 
    date_range=('2018-11-28', '2019-01-01'),
    drop_nli=True
)

CPU times: user 4.47 s, sys: 0 ns, total: 4.47 s
Wall time: 4.47 s

In [95]:
len(clas_full_LMD_test)

10410

This function is now also in pyclouds.zooniverse

## Extracting the label information

The label information is hidden in the `annotations` column, which is a dictionary. There can be more than one annotation/label for each user and image.

In [118]:
clas.metadata.iloc[-1]

{'source': 'api',
 'session': '67f9a58fcd31b0313ab8dde7d0ded6a74e2732ab43444073c767a66ba164960a',
 'viewport': {'width': 1462, 'height': 1266},
 'started_at': '2018-12-14T16:10:12.234Z',
 'user_agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.14; rv:63.0) Gecko/20100101 Firefox/63.0',
 'utc_offset': '-3600',
 'finished_at': '2018-12-14T16:10:26.570Z',
 'live_project': True,
 'interventions': {'opt_in': True, 'message': False},
 'user_language': 'en',
 'user_group_ids': [],
 'subject_dimensions': [{'clientWidth': 956,
   'clientHeight': 637,
   'naturalWidth': 2100,
   'naturalHeight': 1400}],
 'workflow_translation_id': '7573'}

In [102]:
clas.annotations.iloc[-1]

{'task': 'T0',
 'task_label': 'Draw bounding boxes around cloud regions',
 'value': [{'x': 1059.060791015625,
   'y': 254.72518920898438,
   'tool': 1,
   'frame': 0,
   'width': 924.7423095703125,
   'height': 542.5449523925781,
   'details': [],
   'tool_label': 'Flower'},
  {'x': 327.6136474609375,
   'y': 202.00827026367188,
   'tool': 0,
   'frame': 0,
   'width': 610.6375122070312,
   'height': 1140.0032043457031,
   'details': [],
   'tool_label': 'Sugar'}]}

To be able to handle the data well, we will now create a new DataFrame that contains one row per bounding box. This will then allow us more easily to handle the data later. In this process, we will also extract the coordinate data plus some more meta data we might need.

In [89]:
# We need to figure out first how many items we have in order to allocate the new DataFrame
count = 0
for i, row in clas_prac.iterrows():
    if len(row.annotations['value']) == 0: count += 1
    for anno in row.annotations['value']:
        count += 1
count

5070

In [90]:
annos = pd.DataFrame(
    columns=list(clas_prac.columns) + ['x', 'y', 'width', 'height', 'tool_label', 'started_at', 'finished_at'],
    index=np.arange(count)
)

In [91]:
j = 0
for i, row in clas_prac.iterrows():    
    coords = row.annotations['value']
    if len(coords) == 0:
        coords = [{'x': None, 'y': None, 'width': None, 'height': None, 'tool_label': None}]
    for anno in coords:
        for c in clas_prac.columns:
            annos.iloc[j][c] = row[c]
        for coord in ['x', 'y', 'width', 'height', 'tool_label']:
            annos.iloc[j][coord] = anno[coord]
        for meta in ['started_at', 'finished_at']:
            annos.iloc[j][meta] = row.metadata[meta]
        j += 1

In [92]:
j, i

(5070, 33332)

In [93]:
annos

,classification_id,user_name,user_id,user_ip,workflow_id,workflow_name,workflow_version,created_at,gold_standard,expert,...,subject_ids,datetime,subject_set_id,x,y,width,height,tool_label,started_at,finished_at
0,129516659,lpaccini,1.83006e+06,dd3ab09f3c57140838ac,8072,Practice,24.13,2018-11-01 14:04:58 UTC,NaN,NaN,...,27139777,2018-11-01 14:04:58,60811,129.2,809.198,136.238,133.176,Flower,2018-11-01T13:59:06.938Z,2018-11-01T14:04:56.893Z
1,129516659,lpaccini,1.83006e+06,dd3ab09f3c57140838ac,8072,Practice,24.13,2018-11-01 14:04:58 UTC,NaN,NaN,...,27139777,2018-11-01 14:04:58,60811,518.013,747.968,168.384,151.545,Flower,2018-11-01T13:59:06.938Z,2018-11-01T14:04:56.893Z
2,129516659,lpaccini,1.83006e+06,dd3ab09f3c57140838ac,8072,Practice,24.13,2018-11-01 14:04:58 UTC,NaN,NaN,...,27139777,2018-11-01 14:04:58,60811,26.6388,816.852,99.4994,143.891,Flower,2018-11-01T13:59:06.938Z,2018-11-01T14:04:56.893Z
3,129516659,lpaccini,1.83006e+06,dd3ab09f3c57140838ac,8072,Practice,24.13,2018-11-01 14:04:58 UTC,NaN,NaN,...,27139777,2018-11-01 14:04:58,60811,12.862,773.991,699.558,163.791,Flower,2018-11-01T13:59:06.938Z,2018-11-01T14:04:56.893Z
4,129516659,lpaccini,1.83006e+06,dd3ab09f3c57140838ac,8072,Practice,24.13,2018-11-01 14:04:58 UTC,NaN,NaN,...,27139777,2018-11-01 14:04:58,60811,1408.92,294.863,609.243,361.259,Sugar,2018-11-01T13:59:06.938Z,2018-11-01T14:04:56.893Z
5,129516659,lpaccini,1.83006e+06,dd3ab09f3c57140838ac,8072,Practice,24.13,2018-11-01 14:04:58 UTC,NaN,NaN,...,27139777,2018-11-01 14:04:58,60811,1153.28,53.0026,462.29,223.491,Gravel,2018-11-01T13:59:06.938Z,2018-11-01T14:04:56.893Z
6,129516659,lpaccini,1.83006e+06,dd3ab09f3c57140838ac,8072,Practice,24.13,2018-11-01 14:04:58 UTC,NaN,NaN,...,27139777,2018-11-01 14:04:58,60811,482.805,83.6178,491.374,433.205,Gravel,2018-11-01T13:59:06.938Z,2018-11-01T14:04:56.893Z
7,129516659,lpaccini,1.83006e+06,dd3ab09f3c57140838ac,8072,Practice,24.13,2018-11-01 14:04:58 UTC,NaN,NaN,...,27139777,2018-11-01 14:04:58,60811,20.5158,-43.4353,414.836,249.514,Sugar,2018-11-01T13:59:06.938Z,2018-11-01T14:04:56.893Z
8,129516820,lpaccini,1.83006e+06,dd3ab09f3c57140838ac,8072,Practice,24.13,2018-11-01 14:05:59 UTC,NaN,NaN,...,27140534,2018-11-01 14:05:59,subject_id 27140534 60811 27140534 60902...,1555.87,354.562,538.828,930.702,Sugar,2018-11-01T14:05:02.931Z,2018-11-01T14:05:58.902Z
9,129516820,lpaccini,1.83006e+06,dd3ab09f3c57140838ac,8072,Practice,24.13,2018-11-01 14:05:59 UTC,NaN,NaN,...,27140534,2018-11-01 14:05:59,subject_id 27140534 60811 27140534 60902...,681.804,565.807,382.69,446.982,Flower,2018-11-01T14:05:02.931Z,2018-11-01T14:05:58.902Z
10,129516820,lpaccini,1.83006e+06,dd3ab09f3c57140838ac,8072,Practice,24.13,2018-11-01 14:05:59 UTC,NaN,NaN,...,27140534,2018-11-01 14:05:59,subject_id 27140534 60811 27140534 60902...,12.862,604.076,604.65,606.181,Sugar,2018-11-01T14:05:02.931Z,2018-11-01T14:05:58.902Z
11,129516820,lpaccini,1.83006e+06,dd3ab09f3c57140838ac,8072,Practice,24.13,2018-11-01 14:05:59 UTC,NaN,NaN,...,27140534,2018-11-01 14:05:59,subject_id 27140534 60811 27140534 60902...,570.059,75.964,258.698,430.144,Sugar,2018-11-01T14:05:02.931Z,2018-11-01T14:05:58.902Z
12,129516820,lpaccini,1.83006e+06,dd3ab09f3c57140838ac,8072,Practice,24.13,2018-11-01 14:05:59 UTC,NaN,NaN,...,27140534,2018-11-01 14:05:59,subject_id 27140534 60811 27140534 60902...,1376.77,8.61053,525.051,303.091,Fish,2018-11-01T14:05:02.931Z,2018-11-01T14:05:58.902Z
13,129517098,lpaccini,1.83006e+06,dd3ab09f3c57140838ac,8072,Practice,24.13,2018-11-01 14:07:45 UTC,NaN,NaN,...,27140554,2018-11-01 14:07:45,60811,534.851,406.608,473.005,988.871,Gravel,2018-11-01T14:06:00.708Z,2018-11-01T14:07:43.970Z
14,129517098,lpaccini,1.83006e+06,dd3ab09f3c57140838ac,8072,Practice,24.13,2018-11-01 14:07:45 UTC,NaN,NaN,...,27140554,2018-11-01 14:07:45,60811,1291.05,489.269,748.542,450.044,Gravel,2018-11-01T14:06:00.708Z,2018-11-01T14:07:43.970Z
15,129517098,lpaccini,1.83006e+06,dd3ab09f3c57140838ac,8072,Practice,24.13,2018-11-01 14:07:45 UTC,NaN,NaN,...,27140554,2018-11-01 14:07:45,60811,1122.66,34.6335,560.258,410.244,Gravel,2018-11-01T14:06:00.708Z,2018-11-01T14:07:43.970Z
16,129517098,lpaccini,1.83006e+06,dd3ab09f3c57140838ac,8072,Practice,24.13,2018-11-01 14:07:45 UTC,NaN,NaN,...,27140554,2018-11-01 14:07:45,60811,1341.56,999.013,759.257,425.551,Flower,2018-11-01T14:06:00.708Z,2018-11-01T14:07:43.970Z
17,129517857,lpaccini,1.83006e+06,dd3ab09f3c57140838ac,8072,Practice,24.13,2018-11-01 14:15:08 UTC,NaN,NaN,...,27140608,2018-11-01 14:15:08,60811,None,None,None,None,None,2018-11-01T14:07:45.013Z,2018-11-01T14:15:07.804Z
18,129695770,jkiliani,1.83701e+06,3dea9688bc86789f4b86,8072,Practice,24.13,2018-11-02 08:51:55 UTC,NaN,NaN,...,27139862,2018-11-02 08:51:55,subject_id 27139862 60811 27139862 60902...,188.815,851.574,1112.48,574.959,Sugar,2018-11-02T08:51:52.086Z,2018-11-02T08:53:13.946Z
19,129695770,jkiliani,1.83701e+06,3dea9688bc86789f4b86,8072,Practice,24.13,2018-11-02 08:51:55 UTC,NaN,NaN,...,27139862,2018-11-02 08:51:55,subject_id 27139862 60811 27139862 60902...,1170.26,6.51843,1002.84,890.518,Flower,2018-11-02T08:51:52.086Z,2018-11-02T08:53:13.946Z
20,129695835,ReinhardB,1.83743e+06,e6d42ee72c5f403604b4,8072,Practice,24.13,2018-11-02 08:52:42 UTC,NaN,NaN,...,27140428,2018-11-02 08:52:42,subject_id 27140428 60811 27140428 60902...,74.3319,503.017,582.244,628.515,Sugar,2018-11-02T08:49:05.663Z,2018-11-02T08:52:42.321Z
21,129695835,ReinhardB,1.83743e+06,e6d42ee72c5f403604b4,8072,Practice,24.13,2018-11-02 08:52:42 UTC,NaN,NaN,...,27140428,2018-11-02 08:52:42,subject_id 27140428 60811 27140428 60902...,1574.28,152.128,516.693,640.083,Fish,2018-11-02T08:49:05.663Z,2018-11-02T08:52:42.321Z
22,129695835,ReinhardB,1.83743e+06,e6d42ee72c5f403604b4,8072,Practice,24.13,2018-11-02 08:52:42 UTC,NaN,NaN,...,27140428,2018-11-02 08:52:42,subject_id 27140428 60811 27140428 60902...,1566.57,811.49,497.414,312.33,Fish,2018-11-02T08:49:05.663Z,2018-11-02T08:52:42.321Z
23,129695837,jkiliani,1.83701e+06,3dea9688bc86789f4b86,8072,Practice,24.13,2018-11-02 08:52:44 UTC,NaN,NaN,...,27139658,2018-11-02 08:52:44,subject_id 27139658 60811 27139658 60902...,-17.1004,220.457,847.73,1267.58,Sugar,2018-11-02T08:53:46.492Z,2018-11-02T08:54:03.856Z
24,129695966,jkiliani,1.83701e+06,3dea9688bc86789f4b86,8072,Practice,24.13,2018-11-02 08:53:57 UTC,NaN,NaN,...,27140338,2018-11-02 08:53:57,subject_id 27140338 60811 27140338 60902...,702.267,215.108,1428.04,1366.53,Gravel,2018-11-02T08:54:06.091Z,2018-11-02T08:55:16.569Z
25,129696038,jkiliani,1.83701e+06,3dea9688bc86789f4b86,8072,Practice,24.13,2018-11-02 08:54:46 UTC,NaN,NaN,...,27140007,2018-11-02 08:54:46,subject_id 27140007 60811 27140007 60902...,354.617,17.2153,1740.92,446.596,Flower,2018-11-02T08:55:19.001Z,2018-11-02T08:56:05.380Z
26,129696038,jkiliani,1.83701e+06,3dea9688bc86789f4b86,8072,Practice,24.13,2018-11-02 08:54:46 UTC,NaN,NaN,...,27140007,2018-11-02 08:54:46,subject_id 27140007 60811 27140007 60902...,1290.6,482.531,890.518,705.996,Sugar,2018-11-02T08:55:19.001Z,2018-11-02T08:56:05.380Z
27,129696124,jkiliani,1.83701e+06,3dea9688bc86789f4b86,8072,Practice,24.13,2018-11-02 08:55:35 UTC,NaN,NaN,...,27140443,2018-11-02 08:55:35,subject_id 27140443 60811 27140443 60902...,4.29339,27.9123,582.982,1428.04,Flower,2018-11-02T08:56:09.422Z,2018-11-02T08:56:54.022Z
28,129696124,jkiliani,1.83701e+06,3dea9688bc86789f4b86,8072,Practice,24.13,2018-11-02 08:55:35 UTC,NaN,NaN,...,27140443,2018-11-02 08:55:35,subject_id 27140443 60811 27140443 60902...,597.972,78.7226,1465.48,925.283,Fish,2018-11-02T08:56:09.422Z,2018-11-02T08:56:54.022Z
29,129696124,jkiliani,1.83701e+06,3dea9688bc86789f4b86,8072,Practice,24.13,2018-11-02 08:55:35 UTC,NaN,NaN,...,27140443,2018-11-02 08:55:35,subject_id 27140443 60811 27140443 60902...,819.933,1041.44,1075.04,366.369,Flower,2018-11-02T08:56:09.422Z,2018-11-02T08:56:54.022Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5040,134291652,Octave.T,1.84892e+06,620258a9fdcdbf5ffd60,8072,Practice,24.13,2018-12-02 14:40:56 UTC,NaN,NaN,...,27140456,2018-12-02 14:40:56,subject_id 27140456 60811 27140456 60902...,71.7046,39.4447,718.899,921.475,Gravel,2018-12-02T14:40:42.408Z,2018-12-02T14:40:56.486Z
5041,134291663,Octave.T,1.84892e+06,620258a9fdcdbf5ffd60,8072,Practice,24.13,2018-12-02 14:41:13 UTC,NaN,NaN,...,27139668,2018-12-02 14:41:13,subject_id 27139668 60811 27139668 60902...,22.2957,602.706,854.773,790.542,Gravel,2018-12-02T14:40:56.641Z,2018-12-02T14:41:13.082Z
5042,134291690,Octave.T,1.84892e+06,620258a9fdcdbf5ffd60,8072,Practice,24.13,2018-12-02 14:41:35 UTC,NaN,NaN,...,27140686,2018-12-02 14:41:35,subject_id 27140686 60811 27140686 60902...,61.8228,587.883,1101.82,790.542,Sugar,2018-12-02T14:41:13.148Z,2018-12-02T14:41:35.322Z
5043,134291708,Octave.T,1.84892e+06,620258a9fdcdbf5ffd60,8072,Practice,24.13,2018-12-02 14:41:50 UTC,NaN,NaN,...,27140298,2018-12-02 14:41:50,subject_id 27140298 60811 27140298 60902...,689.315,41.9152,1403.21,941.239,Sugar,2018-12-02T14:41:35.364Z,2018-12-02T14:41:50.541Z
5044,134291719,Octave.T,1.84892e+06,620258a9fdcdbf5ffd60,8072,Practice,24.13,2018-12-02 14:42:04 UTC,NaN,NaN,...,27140513,2018-12-02 14:42:04,subject_id 27140513 60811 27140513 60902...,202.638,86.3831,1820.72,919.005,Gravel,2018-12-02T14:41:50.583Z,2018-12-02T14:42:04.060Z
5045,134291721,Octave.T,1.84892e+06,620258a9fdcdbf5ffd60,8072,Practice,24.13,2018-12-02 14:42:11 UTC,NaN,NaN,...,27140038,2018-12-02 14:42:11,subject_id 27140038 60811 27140038 60902...,783.192,390.248,1314.28,1005.47,Sugar,2018-12-02T14:42:04.555Z,2018-12-02T14:42:10.798Z
5046,134291743,Octave.T,1.84892e+06,620258a9fdcdbf5ffd60,8072,Practice,24.13,2018-12-02 14:42:36 UTC,NaN,NaN,...,27140273,2018-12-02 14:42:36,subject_id 27140273 60811 27140273 60902...,32.1775,617.528,1017.82,770.778,Gravel,2018-12-02T14:42:10.844Z,2018-12-02T14:42:35.995Z
5047,134291743,Octave.T,1.84892e+06,620258a9fdcdbf5ffd60,8072,Practice,24.13,2018-12-02 14:42:36 UTC,NaN,NaN,...,27140273,2018-12-02 14:42:36,subject_id 27140273 60811 27140273 60902...,1692.32,41.9152,395.271,877.007,Sugar,2018-12-02T14:42:10.844Z,2018-12-02T14:42:35.995Z
5048,134291754,Octave.T,1.84892e+06,620258a9fdcdbf5ffd60,8072,Practice,24.13,2018-12-02 14:42:48 UTC,NaN,NaN,...,27140434,2018-12-02 14:42:48,subject_id 27140434 60811 27140434 60902...,906.714,9.79941,1180.87,933.827,Flower,2018-12-02T14:42:36.036Z,2018-12-02T14:42:47.700Z
5049,134291763,Octave.T,1.84892e+06,620258a9fdcdbf5ffd60,8072,Practice,24.13,2018-12-02 14:43:02 UTC,NaN,NaN,...,27140640,2018-12-02 14:43:02,subject_id 27140640 60811 27140640 60902...,452.153,622.469,1623.08,753.485,Sugar,2018-12-02T14:42:47.856Z,2018-12-02T14:43:01.858Z
5050,134291763,Octave.T,1.84892e+06,620258a9fdcdbf5ffd60,8072,Practice,24.13,2018-12-02 14:43:02 UTC,NaN,NaN,...,27140640,2018-12-02 14:43:02,subject_id 27140640 60811 27140640 60902...,1282.22,17.2108,795.483,521.263,Flower,2018-12-02T14:42:47.856Z,2018-12-02T14:43:01.858Z
5051,134291779,Octave.T,1.84892e+06,620258a9fdcdbf5ffd60,8072,Practice,24.13,2018-12-02 14:43:15 UTC,NaN,NaN,...,27139915,2018-12-02 14:43:15,subject_id 27139915 60811 27139915 60902...,None,None,None,None,None,2018-12-02T14:43:01.914Z,2018-12-02T14:43:15.169Z
5052,134291784,Octave.T,1.84892e+06,620258a9fdcdbf5ffd60,8072,Practice,24.13,2018-12-02 14:43:23 UTC,NaN,NaN,...,27139921,2018-12-02 14:43:23,subject_id 27139921 60811 27139921 60902...,595.438,832.457,1487.21,573.143,Sugar,2018-12-02T14:43:15.306Z,2018-12-02T14:43:22.838Z
5053,134291826,Octave.T,1.84892e+06,620258a9fdcdbf5ffd60,8072,Practice,24.13,2018-12-02 14:44:18 UTC,NaN,NaN,...,27139670,2018-12-02 14:44:18,subject_id 27139670 60811 27139670 60902...,39.5888,7.32898,2055.41,629.963,Flower,2018-12-02T14:43:22.889Z,2018-12-02T14:44:17.630Z
5054,134291826,Octave.T,1.84892e+06,620258a9fdcdbf5ffd60,8072,Practice,24.13,2018-12-02 14:44:18 UTC,NaN,NaN,...,27139670,2018-12-02 14:44:18,subject_id 27139670 60811 27139670 60902...,760.958,913.981,1331.57,471.855,Flower,2018-12-02T14:43:22.889Z,2018-12-02T14:44:17.630Z
5055,134291826,Octave.T,1.84892e+06,620258a9fdcdbf5ffd60,8072,Practice,24.13,2018-12-02 14:44:18 UTC,NaN,NaN,...,27139670,2018-12-02 14:44:18,subject_id 27139670 60811 27139670 60902...,746.135,657.055,573.143,269.278,Sugar,2018-12-02T14:43:22.889Z,2018-12-02T14:44:17.630Z
5056,134291826,Octave.T,1.84892e+06,620258a9fdcdbf5ffd60,8072,Practice,24.13,2018-12-02 14:44:18 UTC,NaN,NaN,...,27139670,2018-12-02 14:44:18,subject_id 27139670 60811 27139670 60902...,1351.39,647.174,743.603,261.867,Gravel,2018-12-02T14:43:22.889Z,2018-12-02T14:44:17.630Z
5057,134291841,Octave.T,1.84892e+06,620258a9fdcdbf5ffd60,8072,Practice,24.13,2018-12-02 14:44:40 UTC,NaN,NaN,...,27139637,2018-12-02 14:44:40,subject_id 27139637 60811 27139637 60902...,731.313,291.43,1358.74,1094.41,Gravel,2018-12-02T14:44:17.704Z,2018-12-02T14:44:40.138Z
5058,134291859,Octave.T,1.84892e+06,620258a9fdcdbf5ffd60,8072,Practice,24.13,2018-12-02 14:45:00 UTC,NaN,NaN,...,27139902,2018-12-02 14:45:00,subject_id 27139902 60811 27139902 60902...,66.7637,103.676,1524.26,1082.05,Fish,2018-12-02T14:44:40.204Z,2018-12-02T14:45:00.030Z
5059,134291871,Octave.T,1.84892e+06,620258a9fdcdbf5ffd60,8072,Practice,24.13,2018-12-02 14:45:18 UTC,NaN,NaN,...,27140443,2018-12-02 14:45:18,subject_id 27140443 60811 27140443 60902...,610.261,14.7403,1474.85,1222.87,Sugar,2018-12-02T14:45:00.998Z,2018-12-02T14:45:17.690Z
5060,134291871,Octave.T,1.84892e+06,620258a9fdcdbf5ffd60,8072,Practice,24.13,2018-12-02 14:45:18 UTC,NaN,NaN,...,27140443,2018-12-02 14:45:18,subject_id 27140443 60811 27140443 60902...,17.3549,2.38809,494.089,1104.29,Flower,2018-12-02T14:45:00.998Z,2018-12-02T14:45:17.690Z
5061,134291887,Octave.T,1.84892e+06,620258a9fdcdbf5ffd60,8072,Practice,24.13,2018-12-02 14:45:32 UTC,NaN,NaN,...,27139989,2018-12-02 14:45:32,subject_id 27139989 60811 27139989 60902...,1474.92,605.176,622.552,676.901,Flower,2018-12-02T14:45:18.420Z,2018-12-02T14:45:31.569Z
5062,134291896,Octave.T,1.84892e+06,620258a9fdcdbf5ffd60,8072,Practice,24.13,2018-12-02 14:45:43 UTC,NaN,NaN,...,27139989,2018-12-02 14:45:43,subject_id 27139989 60811 27139989 60902...,1452.68,597.765,662.079,689.254,Flower,2018-12-02T14:45:32.244Z,2018-12-02T14:45:42.684Z
5063,134291914,Octave.T,1.84892e+06,620258a9fdcdbf5ffd60,8072,Practice,24.13,2018-12-02 14:46:10 UTC,NaN,NaN,...,27139989,2018-12-02 14:46:10,subject_id 27139989 60811 27139989 60902...,1608.32,718.817,471.855,476.795,Flower,2018-12-02T14:45:43.203Z,2018-12-02T14:46:10.495Z
5064,134291921,Octave.T,1.84892e+06,620258a9fdcdbf5ffd60,8072,Practice,24.13,2018-12-02 14:46:22 UTC,NaN,NaN,...,27140298,2018-12-02 14:46:22,subject_id 27140298 60811 27140298 60902...,928.948,66.6196,1158.64,1294.51,Sugar,2018-12-02T14:46:10.540Z,2018-12-02T14:46:22.427Z
5065,134315477,Octave.T,1.84892e+06,2ac8c22966cc5803ff03,8072,Practice,24.13,2018-12-02 19:12:20 UTC,NaN,NaN,...,27140553,2018-12-02 19:12:20,subject_id 27140553 60811 27140553 60902...,59.3524,27.0925,1178.4,795.483,Gravel,2018-12-02T19:11:53.686Z,2018-12-02T19:12:20.367Z
5066,134315508,Octave.T,1.84892e+06,2ac8c22966cc5803ff03,8072,Practice,24.13,2018-12-02 19:12:44 UTC,NaN,NaN,...,27139921,2018-12-02 19:12:44,subject_id 27139921 60811 27139921 60902...,108.761,886.807,1991.18,511.381,Sugar,2018-12-02T19:12:20.436Z,2018-12-02T19:12:43.824Z
5067,134315538,Octave.T,1.84892e+06,2ac8c22966cc5803ff03,8072,Practice,24.13,2018-12-02 19:13:11 UTC,NaN,NaN,...,27140443,2018-12-02 19:13:11,subject_id 27140443 60811 27140443 60902...,610.261,9.79941,1482.27,864.655,Fish,2018-12-02T19:12:43.974Z,2018-12-02T19:13:10.990Z
5068,134315538,Octave.T,1.84892e+06,2ac8c22966cc5803ff03,8072,Practice,24.13,2018-12-02 19:13:11 UTC,NaN,NaN,...,27140443,2018-12-02 19:13:11,subject_id 27140443 60811 27140443 60902...,42.0593,91.324,560.791,1237.69,Flower,2018-12-02T19:12:43.974Z,2018-12-02T19:13:10.990Z
5069,134717413,raspstephan,1.81491e+06,08ce726fe14db3753a3a,8072,Practice,24.13,2018-12-05 16:28:26 UTC,NaN,NaN,...,27140443,2018-12-05 16:28:26,subject_id 27140443 60811 27140443 60902...,593.934,183.632,1464.12,771.5,Fish,2018-12-05T16:27:54.218Z,2018-12-05T16:28:26.348Z

In [165]:
annos[(annos.subject_ids == 27140443) & (annos.user_name == 'raspstephan')]

,classification_id,user_name,user_id,user_ip,workflow_id,workflow_name,workflow_version,created_at,gold_standard,expert,...,subject_data,subject_ids,datetime,x,y,width,height,tool_label,started_at,finished_at
0,134717413,raspstephan,1.81491e+06,08ce726fe14db3753a3a,8072,Practice,24.13,2018-12-05 16:28:26 UTC,NaN,NaN,...,"{'27140443': {'retired': None, 'fn': '/project...",27140443,2018-12-05 16:28:26,593.934,183.632,1464.12,771.5,Fish,2018-12-05T16:27:54.218Z,2018-12-05T16:28:26.348Z

In [94]:
#EXPORT
def convert_clas_to_annos_df(clas_df):
    """
    Converts a classification pd.DataFrame parsed from the raw Zooniverse file to a pd.DataFrame
    that has one row per bounding box. 
    Additionally, extracts coordinate and metadata information
    """
    # We need to figure out first how many items we have in order to allocate the new DataFrame
    count = 0
    for i, row in clas_df.iterrows():
        if len(row.annotations['value']) == 0: count += 1
        for anno in row.annotations['value']:
            count += 1
    # Allocate new dataframe
    annos_df = pd.DataFrame(
        columns=list(clas_df.columns) + ['x', 'y', 'width', 'height', 'tool_label', 'started_at', 'finished_at'],
        index=np.arange(count)
    )
    # go through each annotation
    j = 0
    for i, row in clas_df.iterrows():
        coords = row.annotations['value']
        if len(coords) == 0:
            coords = [{'x': None, 'y': None, 'width': None, 'height': None, 'tool_label': None}]
        for anno in coords:
            for c in clas_df.columns:
                annos_df.iloc[j][c] = row[c]
            for coord in ['x', 'y', 'width', 'height', 'tool_label']:
                annos_df.iloc[j][coord] = anno[coord]
            for meta in ['started_at', 'finished_at']:
                annos_df.iloc[j][meta] = row.metadata[meta]
            j += 1
    # Convert start and finish times to datetime
    for meta in ['started_at', 'finished_at']:
        annos_df[meta] = pd.to_datetime(annos_df[meta])
    return annos_df

In [95]:
%%time
annos_prac = convert_clas_to_annos_df(clas_prac)

CPU times: user 11.6 s, sys: 0 ns, total: 11.6 s
Wall time: 11.7 s

In [96]:
annos_prac

,classification_id,user_name,user_id,user_ip,workflow_id,workflow_name,workflow_version,created_at,gold_standard,expert,...,subject_ids,datetime,subject_set_id,x,y,width,height,tool_label,started_at,finished_at
0,129516659,lpaccini,1.83006e+06,dd3ab09f3c57140838ac,8072,Practice,24.13,2018-11-01 14:04:58 UTC,NaN,NaN,...,27139777,2018-11-01 14:04:58,60811,129.2,809.198,136.238,133.176,Flower,2018-11-01 13:59:06.938,2018-11-01 14:04:56.893
1,129516659,lpaccini,1.83006e+06,dd3ab09f3c57140838ac,8072,Practice,24.13,2018-11-01 14:04:58 UTC,NaN,NaN,...,27139777,2018-11-01 14:04:58,60811,518.013,747.968,168.384,151.545,Flower,2018-11-01 13:59:06.938,2018-11-01 14:04:56.893
2,129516659,lpaccini,1.83006e+06,dd3ab09f3c57140838ac,8072,Practice,24.13,2018-11-01 14:04:58 UTC,NaN,NaN,...,27139777,2018-11-01 14:04:58,60811,26.6388,816.852,99.4994,143.891,Flower,2018-11-01 13:59:06.938,2018-11-01 14:04:56.893
3,129516659,lpaccini,1.83006e+06,dd3ab09f3c57140838ac,8072,Practice,24.13,2018-11-01 14:04:58 UTC,NaN,NaN,...,27139777,2018-11-01 14:04:58,60811,12.862,773.991,699.558,163.791,Flower,2018-11-01 13:59:06.938,2018-11-01 14:04:56.893
4,129516659,lpaccini,1.83006e+06,dd3ab09f3c57140838ac,8072,Practice,24.13,2018-11-01 14:04:58 UTC,NaN,NaN,...,27139777,2018-11-01 14:04:58,60811,1408.92,294.863,609.243,361.259,Sugar,2018-11-01 13:59:06.938,2018-11-01 14:04:56.893
5,129516659,lpaccini,1.83006e+06,dd3ab09f3c57140838ac,8072,Practice,24.13,2018-11-01 14:04:58 UTC,NaN,NaN,...,27139777,2018-11-01 14:04:58,60811,1153.28,53.0026,462.29,223.491,Gravel,2018-11-01 13:59:06.938,2018-11-01 14:04:56.893
6,129516659,lpaccini,1.83006e+06,dd3ab09f3c57140838ac,8072,Practice,24.13,2018-11-01 14:04:58 UTC,NaN,NaN,...,27139777,2018-11-01 14:04:58,60811,482.805,83.6178,491.374,433.205,Gravel,2018-11-01 13:59:06.938,2018-11-01 14:04:56.893
7,129516659,lpaccini,1.83006e+06,dd3ab09f3c57140838ac,8072,Practice,24.13,2018-11-01 14:04:58 UTC,NaN,NaN,...,27139777,2018-11-01 14:04:58,60811,20.5158,-43.4353,414.836,249.514,Sugar,2018-11-01 13:59:06.938,2018-11-01 14:04:56.893
8,129516820,lpaccini,1.83006e+06,dd3ab09f3c57140838ac,8072,Practice,24.13,2018-11-01 14:05:59 UTC,NaN,NaN,...,27140534,2018-11-01 14:05:59,subject_id 27140534 60811 27140534 60902...,1555.87,354.562,538.828,930.702,Sugar,2018-11-01 14:05:02.931,2018-11-01 14:05:58.902
9,129516820,lpaccini,1.83006e+06,dd3ab09f3c57140838ac,8072,Practice,24.13,2018-11-01 14:05:59 UTC,NaN,NaN,...,27140534,2018-11-01 14:05:59,subject_id 27140534 60811 27140534 60902...,681.804,565.807,382.69,446.982,Flower,2018-11-01 14:05:02.931,2018-11-01 14:05:58.902
10,129516820,lpaccini,1.83006e+06,dd3ab09f3c57140838ac,8072,Practice,24.13,2018-11-01 14:05:59 UTC,NaN,NaN,...,27140534,2018-11-01 14:05:59,subject_id 27140534 60811 27140534 60902...,12.862,604.076,604.65,606.181,Sugar,2018-11-01 14:05:02.931,2018-11-01 14:05:58.902
11,129516820,lpaccini,1.83006e+06,dd3ab09f3c57140838ac,8072,Practice,24.13,2018-11-01 14:05:59 UTC,NaN,NaN,...,27140534,2018-11-01 14:05:59,subject_id 27140534 60811 27140534 60902...,570.059,75.964,258.698,430.144,Sugar,2018-11-01 14:05:02.931,2018-11-01 14:05:58.902
12,129516820,lpaccini,1.83006e+06,dd3ab09f3c57140838ac,8072,Practice,24.13,2018-11-01 14:05:59 UTC,NaN,NaN,...,27140534,2018-11-01 14:05:59,subject_id 27140534 60811 27140534 60902...,1376.77,8.61053,525.051,303.091,Fish,2018-11-01 14:05:02.931,2018-11-01 14:05:58.902
13,129517098,lpaccini,1.83006e+06,dd3ab09f3c57140838ac,8072,Practice,24.13,2018-11-01 14:07:45 UTC,NaN,NaN,...,27140554,2018-11-01 14:07:45,60811,534.851,406.608,473.005,988.871,Gravel,2018-11-01 14:06:00.708,2018-11-01 14:07:43.970
14,129517098,lpaccini,1.83006e+06,dd3ab09f3c57140838ac,8072,Practice,24.13,2018-11-01 14:07:45 UTC,NaN,NaN,...,27140554,2018-11-01 14:07:45,60811,1291.05,489.269,748.542,450.044,Gravel,2018-11-01 14:06:00.708,2018-11-01 14:07:43.970
15,129517098,lpaccini,1.83006e+06,dd3ab09f3c57140838ac,8072,Practice,24.13,2018-11-01 14:07:45 UTC,NaN,NaN,...,27140554,2018-11-01 14:07:45,60811,1122.66,34.6335,560.258,410.244,Gravel,2018-11-01 14:06:00.708,2018-11-01 14:07:43.970
16,129517098,lpaccini,1.83006e+06,dd3ab09f3c57140838ac,8072,Practice,24.13,2018-11-01 14:07:45 UTC,NaN,NaN,...,27140554,2018-11-01 14:07:45,60811,1341.56,999.013,759.257,425.551,Flower,2018-11-01 14:06:00.708,2018-11-01 14:07:43.970
17,129517857,lpaccini,1.83006e+06,dd3ab09f3c57140838ac,8072,Practice,24.13,2018-11-01 14:15:08 UTC,NaN,NaN,...,27140608,2018-11-01 14:15:08,60811,None,None,None,None,None,2018-11-01 14:07:45.013,2018-11-01 14:15:07.804
18,129695770,jkiliani,1.83701e+06,3dea9688bc86789f4b86,8072,Practice,24.13,2018-11-02 08:51:55 UTC,NaN,NaN,...,27139862,2018-11-02 08:51:55,subject_id 27139862 60811 27139862 60902...,188.815,851.574,1112.48,574.959,Sugar,2018-11-02 08:51:52.086,2018-11-02 08:53:13.946
19,129695770,jkiliani,1.83701e+06,3dea9688bc86789f4b86,8072,Practice,24.13,2018-11-02 08:51:55 UTC,NaN,NaN,...,27139862,2018-11-02 08:51:55,subject_id 27139862 60811 27139862 60902...,1170.26,6.51843,1002.84,890.518,Flower,2018-11-02 08:51:52.086,2018-11-02 08:53:13.946
20,129695835,ReinhardB,1.83743e+06,e6d42ee72c5f403604b4,8072,Practice,24.13,2018-11-02 08:52:42 UTC,NaN,NaN,...,27140428,2018-11-02 08:52:42,subject_id 27140428 60811 27140428 60902...,74.3319,503.017,582.244,628.515,Sugar,2018-11-02 08:49:05.663,2018-11-02 08:52:42.321
21,129695835,ReinhardB,1.83743e+06,e6d42ee72c5f403604b4,8072,Practice,24.13,2018-11-02 08:52:42 UTC,NaN,NaN,...,27140428,2018-11-02 08:52:42,subject_id 27140428 60811 27140428 60902...,1574.28,152.128,516.693,640.083,Fish,2018-11-02 08:49:05.663,2018-11-02 08:52:42.321
22,129695835,ReinhardB,1.83743e+06,e6d42ee72c5f403604b4,8072,Practice,24.13,2018-11-02 08:52:42 UTC,NaN,NaN,...,27140428,2018-11-02 08:52:42,subject_id 27140428 60811 27140428 60902...,1566.57,811.49,497.414,312.33,Fish,2018-11-02 08:49:05.663,2018-11-02 08:52:42.321
23,129695837,jkiliani,1.83701e+06,3dea9688bc86789f4b86,8072,Practice,24.13,2018-11-02 08:52:44 UTC,NaN,NaN,...,27139658,2018-11-02 08:52:44,subject_id 27139658 60811 27139658 60902...,-17.1004,220.457,847.73,1267.58,Sugar,2018-11-02 08:53:46.492,2018-11-02 08:54:03.856
24,129695966,jkiliani,1.83701e+06,3dea9688bc86789f4b86,8072,Practice,24.13,2018-11-02 08:53:57 UTC,NaN,NaN,...,27140338,2018-11-02 08:53:57,subject_id 27140338 60811 27140338 60902...,702.267,215.108,1428.04,1366.53,Gravel,2018-11-02 08:54:06.091,2018-11-02 08:55:16.569
25,129696038,jkiliani,1.83701e+06,3dea9688bc86789f4b86,8072,Practice,24.13,2018-11-02 08:54:46 UTC,NaN,NaN,...,27140007,2018-11-02 08:54:46,subject_id 27140007 60811 27140007 60902...,354.617,17.2153,1740.92,446.596,Flower,2018-11-02 08:55:19.001,2018-11-02 08:56:05.380
26,129696038,jkiliani,1.83701e+06,3dea9688bc86789f4b86,8072,Practice,24.13,2018-11-02 08:54:46 UTC,NaN,NaN,...,27140007,2018-11-02 08:54:46,subject_id 27140007 60811 27140007 60902...,1290.6,482.531,890.518,705.996,Sugar,2018-11-02 08:55:19.001,2018-11-02 08:56:05.380
27,129696124,jkiliani,1.83701e+06,3dea9688bc86789f4b86,8072,Practice,24.13,2018-11-02 08:55:35 UTC,NaN,NaN,...,27140443,2018-11-02 08:55:35,subject_id 27140443 60811 27140443 60902...,4.29339,27.9123,582.982,1428.04,Flower,2018-11-02 08:56:09.422,2018-11-02 08:56:54.022
28,129696124,jkiliani,1.83701e+06,3dea9688bc86789f4b86,8072,Practice,24.13,2018-11-02 08:55:35 UTC,NaN,NaN,...,27140443,2018-11-02 08:55:35,subject_id 27140443 60811 27140443 60902...,597.972,78.7226,1465.48,925.283,Fish,2018-11-02 08:56:09.422,2018-11-02 08:56:54.022
29,129696124,jkiliani,1.83701e+06,3dea9688bc86789f4b86,8072,Practice,24.13,2018-11-02 08:55:35 UTC,NaN,NaN,...,27140443,2018-11-02 08:55:35,subject_id 27140443 60811 27140443 60902...,819.933,1041.44,1075.04,366.369,Flower,2018-11-02 08:56:09.422,2018-11-02 08:56:54.022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5040,134291652,Octave.T,1.84892e+06,620258a9fdcdbf5ffd60,8072,Practice,24.13,2018-12-02 14:40:56 UTC,NaN,NaN,...,27140456,2018-12-02 14:40:56,subject_id 27140456 60811 27140456 60902...,71.7046,39.4447,718.899,921.475,Gravel,2018-12-02 14:40:42.408,2018-12-02 14:40:56.486
5041,134291663,Octave.T,1.84892e+06,620258a9fdcdbf5ffd60,8072,Practice,24.13,2018-12-02 14:41:13 UTC,NaN,NaN,...,27139668,2018-12-02 14:41:13,subject_id 27139668 60811 27139668 60902...,22.2957,602.706,854.773,790.542,Gravel,2018-12-02 14:40:56.641,2018-12-02 14:41:13.082
5042,134291690,Octave.T,1.84892e+06,620258a9fdcdbf5ffd60,8072,Practice,24.13,2018-12-02 14:41:35 UTC,NaN,NaN,...,27140686,2018-12-02 14:41:35,subject_id 27140686 60811 27140686 60902...,61.8228,587.883,1101.82,790.542,Sugar,2018-12-02 14:41:13.148,2018-12-02 14:41:35.322
5043,134291708,Octave.T,1.84892e+06,620258a9fdcdbf5ffd60,8072,Practice,24.13,2018-12-02 14:41:50 UTC,NaN,NaN,...,27140298,2018-12-02 14:41:50,subject_id 27140298 60811 27140298 60902...,689.315,41.9152,1403.21,941.239,Sugar,2018-12-02 14:41:35.364,2018-12-02 14:41:50.541
5044,134291719,Octave.T,1.84892e+06,620258a9fdcdbf5ffd60,8072,Practice,24.13,2018-12-02 14:42:04 UTC,NaN,NaN,...,27140513,2018-12-02 14:42:04,subject_id 27140513 60811 27140513 60902...,202.638,86.3831,1820.72,919.005,Gravel,2018-12-02 14:41:50.583,2018-12-02 14:42:04.060
5045,134291721,Octave.T,1.84892e+06,620258a9fdcdbf5ffd60,8072,Practice,24.13,2018-12-02 14:42:11 UTC,NaN,NaN,...,27140038,2018-12-02 14:42:11,subject_id 27140038 60811 27140038 60902...,783.192,390.248,1314.28,1005.47,Sugar,2018-12-02 14:42:04.555,2018-12-02 14:42:10.798
5046,134291743,Octave.T,1.84892e+06,620258a9fdcdbf5ffd60,8072,Practice,24.13,2018-12-02 14:42:36 UTC,NaN,NaN,...,27140273,2018-12-02 14:42:36,subject_id 27140273 60811 27140273 60902...,32.1775,617.528,1017.82,770.778,Gravel,2018-12-02 14:42:10.844,2018-12-02 14:42:35.995
5047,134291743,Octave.T,1.84892e+06,620258a9fdcdbf5ffd60,8072,Practice,24.13,2018-12-02 14:42:36 UTC,NaN,NaN,...,27140273,2018-12-02 14:42:36,subject_id 27140273 60811 27140273 60902...,1692.32,41.9152,395.271,877.007,Sugar,2018-12-02 14:42:10.844,2018-12-02 14:42:35.995
5048,134291754,Octave.T,1.84892e+06,620258a9fdcdbf5ffd60,8072,Practice,24.13,2018-12-02 14:42:48 UTC,NaN,NaN,...,27140434,2018-12-02 14:42:48,subject_id 27140434 60811 27140434 60902...,906.714,9.79941,1180.87,933.827,Flower,2018-12-02 14:42:36.036,2018-12-02 14:42:47.700
5049,134291763,Octave.T,1.84892e+06,620258a9fdcdbf5ffd60,8072,Practice,24.13,2018-12-02 14:43:02 UTC,NaN,NaN,...,27140640,2018-12-02 14:43:02,subject_id 27140640 60811 27140640 60902...,452.153,622.469,1623.08,753.485,Sugar,2018-12-02 14:42:47.856,2018-12-02 14:43:01.858
5050,134291763,Octave.T,1.84892e+06,620258a9fdcdbf5ffd60,8072,Practice,24.13,2018-12-02 14:43:02 UTC,NaN,NaN,...,27140640,2018-12-02 14:43:02,subject_id 27140640 60811 27140640 60902...,1282.22,17.2108,795.483,521.263,Flower,2018-12-02 14:42:47.856,2018-12-02 14:43:01.858
5051,134291779,Octave.T,1.84892e+06,620258a9fdcdbf5ffd60,8072,Practice,24.13,2018-12-02 14:43:15 UTC,NaN,NaN,...,27139915,2018-12-02 14:43:15,subject_id 27139915 60811 27139915 60902...,None,None,None,None,None,2018-12-02 14:43:01.914,2018-12-02 14:43:15.169
5052,134291784,Octave.T,1.84892e+06,620258a9fdcdbf5ffd60,8072,Practice,24.13,2018-12-02 14:43:23 UTC,NaN,NaN,...,27139921,2018-12-02 14:43:23,subject_id 27139921 60811 27139921 60902...,595.438,832.457,1487.21,573.143,Sugar,2018-12-02 14:43:15.306,2018-12-02 14:43:22.838
5053,134291826,Octave.T,1.84892e+06,620258a9fdcdbf5ffd60,8072,Practice,24.13,2018-12-02 14:44:18 UTC,NaN,NaN,...,27139670,2018-12-02 14:44:18,subject_id 27139670 60811 27139670 60902...,39.5888,7.32898,2055.41,629.963,Flower,2018-12-02 14:43:22.889,2018-12-02 14:44:17.630
5054,134291826,Octave.T,1.84892e+06,620258a9fdcdbf5ffd60,8072,Practice,24.13,2018-12-02 14:44:18 UTC,NaN,NaN,...,27139670,2018-12-02 14:44:18,subject_id 27139670 60811 27139670 60902...,760.958,913.981,1331.57,471.855,Flower,2018-12-02 14:43:22.889,2018-12-02 14:44:17.630
5055,134291826,Octave.T,1.84892e+06,620258a9fdcdbf5ffd60,8072,Practice,24.13,2018-12-02 14:44:18 UTC,NaN,NaN,...,27139670,2018-12-02 14:44:18,subject_id 27139670 60811 27139670 60902...,746.135,657.055,573.143,269.278,Sugar,2018-12-02 14:43:22.889,2018-12-02 14:44:17.630
5056,134291826,Octave.T,1.84892e+06,620258a9fdcdbf5ffd60,8072,Practice,24.13,2018-12-02 14:44:18 UTC,NaN,NaN,...,27139670,2018-12-02 14:44:18,subject_id 27139670 60811 27139670 60902...,1351.39,647.174,743.603,261.867,Gravel,2018-12-02 14:43:22.889,2018-12-02 14:44:17.630
5057,134291841,Octave.T,1.84892e+06,620258a9fdcdbf5ffd60,8072,Practice,24.13,2018-12-02 14:44:40 UTC,NaN,NaN,...,27139637,2018-12-02 14:44:40,subject_id 27139637 60811 27139637 60902...,731.313,291.43,1358.74,1094.41,Gravel,2018-12-02 14:44:17.704,2018-12-02 14:44:40.138
5058,134291859,Octave.T,1.84892e+06,620258a9fdcdbf5ffd60,8072,Practice,24.13,2018-12-02 14:45:00 UTC,NaN,NaN,...,27139902,2018-12-02 14:45:00,subject_id 27139902 60811 27139902 60902...,66.7637,103.676,1524.26,1082.05,Fish,2018-12-02 14:44:40.204,2018-12-02 14:45:00.030
5059,134291871,Octave.T,1.84892e+06,620258a9fdcdbf5ffd60,8072,Practice,24.13,2018-12-02 14:45:18 UTC,NaN,NaN,...,27140443,2018-12-02 14:45:18,subject_id 27140443 60811 27140443 60902...,610.261,14.7403,1474.85,1222.87,Sugar,2018-12-02 14:45:00.998,2018-12-02 14:45:17.690
5060,134291871,Octave.T,1.84892e+06,620258a9fdcdbf5ffd60,8072,Practice,24.13,2018-12-02 14:45:18 UTC,NaN,NaN,...,27140443,2018-12-02 14:45:18,subject_id 27140443 60811 27140443 60902...,17.3549,2.38809,494.089,1104.29,Flower,2018-12-02 14:45:00.998,2018-12-02 14:45:17.690
5061,134291887,Octave.T,1.84892e+06,620258a9fdcdbf5ffd60,8072,Practice,24.13,2018-12-02 14:45:32 UTC,NaN,NaN,...,27139989,2018-12-02 14:45:32,subject_id 27139989 60811 27139989 60902...,1474.92,605.176,622.552,676.901,Flower,2018-12-02 14:45:18.420,2018-12-02 14:45:31.569
5062,134291896,Octave.T,1.84892e+06,620258a9fdcdbf5ffd60,8072,Practice,24.13,2018-12-02 14:45:43 UTC,NaN,NaN,...,27139989,2018-12-02 14:45:43,subject_id 27139989 60811 27139989 60902...,1452.68,597.765,662.079,689.254,Flower,2018-12-02 14:45:32.244,2018-12-02 14:45:42.684
5063,134291914,Octave.T,1.84892e+06,620258a9fdcdbf5ffd60,8072,Practice,24.13,2018-12-02 14:46:10 UTC,NaN,NaN,...,27139989,2018-12-02 14:46:10,subject_id 27139989 60811 27139989 60902...,1608.32,718.817,471.855,476.795,Flower,2018-12-02 14:45:43.203,2018-12-02 14:46:10.495
5064,134291921,Octave.T,1.84892e+06,620258a9fdcdbf5ffd60,8072,Practice,24.13,2018-12-02 14:46:22 UTC,NaN,NaN,...,27140298,2018-12-02 14:46:22,subject_id 27140298 60811 27140298 60902...,928.948,66.6196,1158.64,1294.51,Sugar,2018-12-02 14:46:10.540,2018-12-02 14:46:22.427
5065,134315477,Octave.T,1.84892e+06,2ac8c22966cc5803ff03,8072,Practice,24.13,2018-12-02 19:12:20 UTC,NaN,NaN,...,27140553,2018-12-02 19:12:20,subject_id 27140553 60811 27140553 60902...,59.3524,27.0925,1178.4,795.483,Gravel,2018-12-02 19:11:53.686,2018-12-02 19:12:20.367
5066,134315508,Octave.T,1.84892e+06,2ac8c22966cc5803ff03,8072,Practice,24.13,2018-12-02 19:12:44 UTC,NaN,NaN,...,27139921,2018-12-02 19:12:44,subject_id 27139921 60811 27139921 60902...,108.761,886.807,1991.18,511.381,Sugar,2018-12-02 19:12:20.436,2018-12-02 19:12:43.824
5067,134315538,Octave.T,1.84892e+06,2ac8c22966cc5803ff03,8072,Practice,24.13,2018-12-02 19:13:11 UTC,NaN,NaN,...,27140443,2018-12-02 19:13:11,subject_id 27140443 60811 27140443 60902...,610.261,9.79941,1482.27,864.655,Fish,2018-12-02 19:12:43.974,2018-12-02 19:13:10.990
5068,134315538,Octave.T,1.84892e+06,2ac8c22966cc5803ff03,8072,Practice,24.13,2018-12-02 19:13:11 UTC,NaN,NaN,...,27140443,2018-12-02 19:13:11,subject_id 27140443 60811 27140443 60902...,42.0593,91.324,560.791,1237.69,Flower,2018-12-02 19:12:43.974,2018-12-02 19:13:10.990
5069,134717413,raspstephan,1.81491e+06,08ce726fe14db3753a3a,8072,Practice,24.13,2018-12-05 16:28:26 UTC,NaN,NaN,...,27140443,2018-12-05 16:28:26,subject_id 27140443 60811 27140443 60902...,593.934,183.632,1464.12,771.5,Fish,2018-12-05 16:27:54.218,2018-12-05 16:28:26.348